<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>EbNewsController</servlet-name>
        <servlet-class>sdkd.com.ec.controller.EbNewsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbNewsController</servlet-name>
        <url-pattern>*.new</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EbUserController</servlet-name>
        <servlet-class>sdkd.com.ec.controller.EbUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbUserController</servlet-name>
        <url-pattern>*.user</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EbProdCateController</servlet-name>
        <servlet-class>sdkd.com.ec.controller.EbProdCateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbProdCateController</servlet-name>
        <url-pattern>*.pca</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MainPageController</servlet-name>
        <servlet-class>sdkd.com.ec.controller.MainPageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainPageController</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EbProductController</servlet-name>
        <servlet-class>sdkd.com.ec.controller.EbProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbProductController</servlet-name>
        <url-pattern>*.prod</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EbCommentController</servlet-name>
        <servlet-class>sdkd.com.ec.controller.EbCommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbCommentController</servlet-name>
        <url-pattern>*.comt</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EbShopCarController</servlet-name>
        <servlet-class>sdkd.com.ec.controller.EbShopCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EbShopCarController</servlet-name>
        <url-pattern>*.sc</url-pattern>
    </servlet-mapping>
</web-app>